
    <table>
        <thead>
            <tr>
                <td>Name</td>
                <td>Description</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="text" ng-model="person.name" placeholder="Enter Name" /></td>
                <td><input type="text" ng-model="person.description" placeholder="Enter Description" /></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td><button class="btn btn-primary" ng-click="Save()">Save</button></td>
            </tr>
        </tfoot>
    </table>

{{message}}

