

    <table>
        <thead>
            <tr>
                <td>Name</td>
                <td>Description</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="text" ng-model="person.name" /></td>
                <td><input type="text" ng-model="person.description"/></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td><button class="btn btn-primary" ng-click="Update()">Update</button></td>
            </tr>
        </tfoot>
    </table>
